.spinner {
    font-size: 40px;
    color: var(--primary);
    animation: rotate 2s infinite;
  }
  
//   Pour faire l'anime du chargement
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }